# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------

title: Programming Group # the website title (if blank, full name will be used instead)
first_name:
middle_name:
last_name: Programming Group
email: guido.salvaneschi@unisg.ch
description: > # the ">" symbol means to ignore newlines until "footer_text:"
  The Programming Group at the University of St. Gallen and at the Technical University of Darmstadt.
footer_text: >
#  Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> with <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme.
#  Hosted by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.
#  Photos from <a href="https://unsplash.com" target="_blank">Unsplash</a>.

url: https://programming-group.com # the base hostname & protocol for your site
baseurl: # the subpath of your site, e.g. /blog/
last_updated: true # set to true if you want to display last updated in the footer
impressum_path: /impressum # set to path to include impressum link in the footer, use the same path as permalink in a page, helps to conform with EU GDPR

google_site_verification: RMUCoHAseeFv2jAdfyJb4XLx4e1J8XpU1l8fvwAxk1g

# -----------------------------------------------------------------------------
# Layout
# -----------------------------------------------------------------------------

navbar_fixed: true
footer_fixed: false

# Dimensions
max_width: 900px

# TODO: add layout settings (single page vs. multi-page)

# -----------------------------------------------------------------------------
# Open Graph
# -----------------------------------------------------------------------------
# Display links to the page with a preview object on social media.
serve_og_meta: true # Include Open Graph meta tags in the HTML head
og_image: /assets/img/og/pg.png # The site-wide (default for all links) Open Graph preview image

# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------

github_username: # your GitHub user name
twitter_username: prg_grp # your Twitter handle
youtube_channel: UCW60aqeksbbWTT-7sR6G97w # your YouTube channel id
linkedin_username: # your LinkedIn user name
scholar_userid: # your Google Scholar ID
orcid_id: # your ORCID ID
medium_username: # your Medium username
quora_username: # your Quora username
publons_id: # your ID on Publons
research_gate_profile: # your profile on ResearchGate
blogger_url: # your blogger URL
work_url: # work page URL
keybase_username: # your keybase user name
wikidata_id: # your wikidata id

contact_note: >
  Send us an email and follow us on Twitter and YouTube.

google_analytics: UA-XXXXXXXXX # out your google-analytics code
panelbear_analytics: XXXXXXXXX # panelbear analytics site ID

# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------

blog_name: # your blog must have a name for it to show up in the nav bar
blog_description: a simple whitespace theme for academics
permalink: /blog/:year/:title/

# Pagination
pagination:
  enabled: true

# Comments
disqus_shortname: prg-grp # put your disqus shortname

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------

collections:
  news:
    defaults:
      layout: post
    output: true
    permalink: /news/:path
  projects:
    output: true
    permalink: /projects/:path
  supports:
    output: true
    permalink: /supports/:path
  members:
    output: true
    permalink: /members/:path
  theses:
    output: true
    permalink: /theses/:path
  courses:
    output: true
    permalink: /courses/:path

news_limit: 10

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Markdown and syntax highlight
markdown: kramdown
highlighter: rouge
highlight_theme: github  # https://github.com/jwarby/jekyll-pygments-themes
kramdown:
  input: GFM
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: false
      start_line: 1

# Includes & excludes
include: ['_pages']
exclude: [vendor]

# Plug-ins
plugins:
  - jekyll-email-protect
  - jekyll-github-metadata
  - jekyll-paginate-v2
  - jekyll/scholar
  - jekyll-twitter-plugin
  - jekyll-sitemap
  - jekyll-regex-replace
  # - jemoji # loads emoji images from GitHubs servers (cross origin...) Rather use unicode emojis in text
  # - bootstrap
  # - material-sass

defaults:
  - scope:
      path: "assets/lib/**"
    values:
      sitemap: false
  - scope:
      path: ""
    values:
      image: /assets/img/og/pg.png # Default open graph image
# -----------------------------------------------------------------------------
# Jekyll Scholar
# -----------------------------------------------------------------------------

scholar:

  last_name: 
  first_name: []

  style: apa
  locale: en

  source: /_bibliography/
  bibliography: papers.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"
  sort_by: year,month
  order: descending

# -----------------------------------------------------------------------------
# Optional Features
# -----------------------------------------------------------------------------

enable_google_analytics:    false
enable_panelbear_analytics: false
enable_mansory:             false
enable_math:                false
enable_tooltips:            false
enable_darkmode:            false
show_social_icons:          false

# -----------------------------------------------------------------------------
# Minibundle
# -----------------------------------------------------------------------------
minibundle:
  minifier_commands:
    css: node_modules/.bin/uglifycss
    js: node_modules/.bin/uglifyjs


# -----------------------------------------------------------------------------
# SASS
# -----------------------------------------------------------------------------
sass:
  style: compact
