<div class="d-flex align-content-stretch justify-content-center flex-wrap no-gutters m-n2">

    {% assign contributions = site.contributions | sort: 'rank' %}
    {% for contribution in contributions %}
        <div class="col-sm-6 col-md-4 mb-3">
            {% if contribution.external_page %}
            <a href="{{ contribution.external_page }}" class="no-decoration" target="_blank">
            {% elsif contribution.inline == false %}
            <a href="{{ contribution.url | relative_url }}" class="no-decoration">
            {% endif %}
                <div class="card h-100 m-2 {% if contribution.inline == false or contribution.external_page %}hoverable{% endif %}">
                    {% if contribution.image %}
                        <img src="/assets/img/{{ contribution.image | relative_url }}" class="card-img-top" alt="{{ contribution.title }}" />
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ contribution.title }}{% if contribution.inline == false or contribution.external_page %} <i class="fas fa-external-link-alt"></i>{% endif %}</h2>
                        <p class="card-text">{{ contribution.description }}</p>
                    </div>
                </div>
                {% if contribution.inline == false or contribution.external_page %}</a>{% endif %}
        </div>
    {% endfor %}

</div>
