<div class="d-flex align-content-stretch justify-content-center flex-wrap no-gutters m-n2">

    {% assign projects = site.projects | sort: 'rank' %}
    {% for project in projects %}
        <div class="col-sm-6 col-md-4 mb-3">
            {% if project.external_page %}
            <a href="{{ project.external_page }}" class="no-decoration" target="_blank">
            {% elsif project.inline == false %}
            <a href="{{ project.url | relative_url }}" class="no-decoration">
            {% endif %}
                <div class="card h-100 m-2 {% if project.inline == false or project.external_page %}hoverable{% endif %}">
                    {% if project.image %}
                        <div class="card-header">
                            <img src="/assets/img/{{ project.image | relative_url }}" alt="{{ project.title }}" />
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ project.title }}{% if project.inline == false or project.external_page %} <i class="fas fa-external-link-alt"></i>{% endif %}</h2>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                </div>
            {% if project.inline == false or project.external_page %}</a>{% endif %}
        </div>
    {% endfor %}

</div>
