<h2>Solutions</h2>

<div class="projects grid">

    {% assign solutions = site.solutions | sort: 'rank' %}
    {% for solution in solutions %}
    <div class="grid-item">
        {% if solution.external_page %}
        <a href="{{ solution.external_page }}" target="_blank">
        {% elsif solution.inline == false %}
        <a href="{{ solution.url | relative_url }}">
        {% endif %}
            <div class="card {% if solution.inline == false or solution.external_page %}hoverable{% endif %}">
                {% if solution.image %}
                    <img src="/assets/img/{{ solution.image | relative_url }}" alt="{{ solution.title }}" />
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ solution.title }}{% if solution.inline == false or solution.external_page %} <i class="fas fa-external-link-alt"></i>{% endif %}</h2>
                    <p class="card-text">{{ solution.description }}</p>
                </div>
            </div>
            {% if solution.inline == false or solution.external_page %}</a>{% endif %}
    </div>
    {% endfor %}

</div>
