---
layout: page
inline: true
title: 'Pre-Deployment Verification of Infrastructure as Code'
description: 'Project with the Cyber-Defence Campus (CYD). The project contributes to the broader vision of protecting infrastructures from attacks that exploit security vulnerabilities. The project aims to verify infrastructure code before deployment, providing cloud administrators with early insights.'
rank: 5
img: support/cyd.svg
external_page: https://www.cydcampus.admin.ch/en
past: true
---
