.shown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255);
    z-index: 1000;
  }

  .hidden {
    display: none;
  }
