---
layout: default
---

<div class="post">

  <header class="post-header">
    {% include social_header.html %}
    <h1 class="post-title">
     {% if page.sitetitle %}{{ site.title }}{% else %}{{ page.title }}{% endif %}
    </h1>
      {% comment %}<p class="post-description">{{ page.description }}</p>{% endcomment %}
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" alt="{{ page.profile.name }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          <p><span class="name">{{ page.profile.name }}</span>
            {% if page.profile.position %}<br />{{ page.profile.position }}{% endif %}
            {% if page.profile.email %}<br /><a href="mailto:{{ page.profile.email }}"><i class="fas fa-envelope"></i> {{ page.profile.email }}</a>{% endif %}
            {% if page.profile.phone %}<br /><a href="tel:{{ page.profile.phone }}"><i class="fas phone"></i> {{ page.profile.phone }}</a>{% endif %}
            {% if page.profile.twitter %}<br /><a href="https://twitter.com/{{ page.profile.twitter }}" target="_blank"><i class="fab fa-twitter"></i> {{ page.profile.twitter }}</a>{% endif %}
            {% if page.profile.github %}<br /><a href="https://github.com/{{ page.profile.github }}" target="_blank"><i class="fab fa-github"></i> {{ page.profile.github }}</a>{% endif %}
            {% if page.profile.website %}<br /><a href="{{ page.profile.website }}" target="_blank"><i class="fas fa-globe"></i> {{ page.profile.website }}</a>{% endif %}
          </p>
          <p class="post">{{ page.profile.address }}</p>
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}

        {% if page.social %}
        <div class="social mt-5 pt-5 mb-5 pb-5">
            {% include social.html %}
            <div class="contact-note">{{ site.contact_note }}</div>
        </div>
        {% endif %}
    </div>

    {% if page.news %}
      <h2 id="news">News</h2>
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      <h2 id="recent-publications">Recent Publications</h2>
      {% include selected_papers.html %}
    {% endif %}

    {% if page.contributions %}
      <h2 id="projects">Projects</h2>
      {% include projects.html %}
    {% endif %}

    {% if page.projects %}
      <h2 id="support">Support</h2>
      {% include supports.html %}
    {% endif %}

    {% if page.publications %}
      <h2 id="üublications">Publications</h2>
      <div class="publications">
        {% bibliography -f papers -q @*[{{page.publications}}]* %}
      </div>
    {% endif %}
  </article>

</div>
