<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

    {% minibundle js %}
    destination_path: 'assets/css/bundle'
    baseurl: '{{ site.baseurl }}/'
    assets:
    - ../node_modules/mdbootstrap/js/jquery
    - ../node_modules/mdbootstrap/js/bootstrap
    - ../node_modules/mdbootstrap/js/popper
    - ../node_modules/mdbootstrap/js/mdb
    - js/common
    {% endminibundle %}
  </body>
</html>
