<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <!-- <div class="container mt-5" style="width:100%; text-align: center;">

      <img style="width: 30%" src="/assets/img/feelab-logo-crop.png"/>
    <br/><br/>
    <p>This will be the future home of the <strong>Further Energy and Environment research Laboratory (FEELab) </strong>.
    </p><p>The page is currently under construction. Stay tuned for updates!</p>
    <p>In the meantime, you can check: <a href="https://alspereira.info/research" target="_blank"> this website </a> for some details of our work.</p>
    </div> -->


    <!-- Uncomment the div below to show the page -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

    {% minibundle js %}
    destination_path: 'assets/css/bundle'
    baseurl: '{{ site.baseurl }}/'
    assets:
    - ../node_modules/mdbootstrap/js/jquery
    - ../node_modules/mdbootstrap/js/bootstrap
    - ../node_modules/mdbootstrap/js/popper
    - ../node_modules/mdbootstrap/js/mdb
    - js/common
    {% endminibundle %}
  </body>
</html>
