<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" href="../assets/css/mainetenance.css"
</head>

<body
  class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

  {% include header.html %}

  <!-- Content -->
  <!-- Comment the div below to show the page -->
  <div class="under-construction">
    <img src="/assets/img/feelab-logo-crop.png" alt="Under Construction Image">
    <p>This will be the future home of the <strong>Further Energy and Environment research Laboratory (FEELab)</p>
    <p>The page is currently under construction. Stay tuned for updates!</p>
    <p>In the meantime, you can check: <a href="https://alspereira.info/research" target="_blank"> this website </a> for
      some details of our work.</p>
  </div>

  <div class="container mt-5">
    {{ content }}
  </div>

  {% include footer.html %}

  {% minibundle js %}
  destination_path: 'assets/css/bundle'
  baseurl: '{{ site.baseurl }}/'
  assets:
  - ../node_modules/mdbootstrap/js/jquery
  - ../node_modules/mdbootstrap/js/bootstrap
  - ../node_modules/mdbootstrap/js/popper
  - ../node_modules/mdbootstrap/js/mdb
  - js/common
  {% endminibundle %}
</body>

</html>