---
layout: default
---
<div class="post">

  <header class="post-header">
    {% include social_header.html %}
    <h1 class="post-title">{{ page.title }}</h1>
    {% comment %}<p class="post-description">{{ page.description }}</p>{% endcomment %}
  </header>

  <article>
    {{ page.content | markdownify }}

      {% if page.publications %}
        <h2>Publications</h2>
        <div class="publications">
            {% bibliography -f papers -q @*[{{ page.publications | markdownify }}]* %}
        </div>
      {% endif %}
  </article>

</div>
